<form method="post" action="/login">
    ingresar mail: <input type="mail" name="email" size="50">
    <br>
    Ingrese Clase:
    <input type="password" name="clave" size="20">
    <br>
    <input type="submit" value="ingresar">
</form>